{% extends "base_generic.html" %}
{% block sty %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\about.css' %}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
               <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'project' %}">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'about' %}">About Us</a>
                    </li>
            </ul>

            <div class="registration container">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                       <button type="button" class="btn btn-outline-light me-2">
                <a class="nav-link" href="{% url 'profile' %}">
                      <i class="fa fa-user"></i> Account
                    </a>
                      </button>
                       <button type="button" class="btn btn-outline-light me-4">
                     <a style="text-decoration: none; color: #bd1616" href="{% url 'logout' %}">Logout</a>
                       </button>
                  </li>
                    {% else %}
                 <button type="button" class="btn btn-outline-light me-4">
                       <a style="text-decoration: none; color: #bd1616" href="{% url 'register\sign-up' %}"> Sign Up</a></button>
                    <button type="button" class="btn btn-outline-light">
                       <a style="text-decoration: none; color: #bd1616" href="{% url 'register\login' %}">Login</a></button>
                </div>
            {% endif %}

        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center">About Us</h1>
    <hr>

    <div class="row py-5 align-items-center">
        <div class="col-md-6 mt-2 d-flex justify-content-center">
            <img src="{% static 'images/loon-image-high.jpg' %}" alt="About Us" class="img-fluid about-img">
        </div>
        <div class="col-md-6 my-auto">
            <h2 class="mb-4">Our Project</h2>
            <p class="lead mb-5">This project was developed as a coursework by two computer science students: Andrew and
                Ilya. They decided to perform a task as a course work, which consisted in implementing fine-tuning of
                the neural network on specific data that could simulate human behavior and providing the opportunity to
                use this by creating web applications based on the Django framework.</p>
            <p class="lead mb-5">The goal of this project is to provide a platform for users to ask a question and get
                an answer from the neural network.</p>
        </div>
    </div>

    <div class="row py-5 align-items-center">
        <div class="col-md-6 my-auto">
            <h2 class="mb-4">Our Team</h2>
            <p class="lead mb-5">Ilya and Andrew are both second-year computer science students at HSE University. They
                have been working together on various projects since their first year, and have developed a strong
                partnership based on their complementary skills and shared passion for programming.</p>
            <p class="lead mb-5">Andrew is responsible for the web-development of this project, including the HTML and
                CSS, Django models, views, and templates. He enjoys designing user interfaces and making them visually appealing and easy to
                use.</p>
            <p class="lead mb-5">Ilya is responsible for the fine-tuning part of this project including the collection
                of databases and using them to train neural network.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{% static 'images/we.jpg' %}" alt="Our Team" class="img-fluid about-img">
        </div>
    </div>

</div>


{% endblock %}
