body {
  background-color: #f0f0f0;
  color: #9a9a9a;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}

a {
  color: #0099cc;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}
